<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082185139730-30rmalb5lmqlbm205abntk58i3n4m211.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082185139730-30rmalb5lmqlbm205abntk58i3n4m211</string>
	<key>API_KEY</key>
	<string>AIzaSyBaxcqyuhamdmrI2SOiXRucUPB7ZF2aN34</string>
	<key>GCM_SENDER_ID</key>
	<string>1082185139730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttersnstest</string>
	<key>PROJECT_ID</key>
	<string>snstest-f2c16</string>
	<key>STORAGE_BUCKET</key>
	<string>snstest-f2c16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082185139730:ios:27657c49e4b31b405bfacb</string>
</dict>
</plist>